/* CSS styles for the circular meter */
        .meter-container {
            width: 200px;
            height: 100px;
        }

        .meter {
            width: 200px;
            height: 200px;
            background: conic-gradient(#0f0 359deg, #fff 0deg);
            border-radius: 50%;
            position: relative;
            transform: rotate(-90deg);
        }

        .meter:after {
            content: "";
            width: 70%;
            height: 70%;
            background: #fff;
            position: absolute;
            top: 15%;
            left: 15%;
            border-radius: 50%;
        }

        .meter-reading {
            width: 200px;
            font-size: 20px;
            font-weight: bold;
            font-family: arial;
            text-align: center;
            margin-top: -20px;
            position: absolute;
        }

        .line-container {
            width: 200px;
            height: 200px;
            position: absolute;
            transform: rotate(-90deg);
            z-index: 999;
            top: -68px;
            pointer-events: none;
        }

        .line {
            width: 1px;
            height: 27px;
            background: rgba(0,0,0,0.05);
            position: absolute;
            transform-origin: 0px 100px;
            box-shadow: 0px 0px 1px 2px rgba(0,0,0,0.05);
            border-radius: 50px;
        }
/*for meter track*/
meter,
meter::-webkit-meter-bar {
    /*to remove the default background property */
    background: none; 
    width: 300px;
    height: 25px;
    border-radius: 8px;
    overflow: hidden;
    background-color: rgb(226, 226, 226);
    box-shadow: 0 5px 5px -5px rgba(0,0,0,0.3) inset;
}
 
/*for meter bar*/
meter::-webkit-meter-optimum-value {
    background: none; 
    background-color: rgb(154, 255, 77);
}
:-moz-meter-optimum::-moz-meter-bar {
    background: none; 
    background-color: rgb(154, 255, 77);
}
 
 
meter::-webkit-meter-suboptimum-value{
    background: none; 
    background-color: rgb(150, 0, 0);
}
:-moz-meter-sub-optimum::-moz-meter-bar{
    background: none; 
    background-color: rgb(0, 0, 222);
}
 
 
meter::-webkit-meter-even-less-good-value{
    background: none; 
    background-color: rgb(0, 36, 62);
}
:-moz-meter-sub-sub-optimum::-moz-meter-bar{
    background: none;
    background-color: rgb(0, 36, 62);
}