@import url(https://fonts.googleapis.com/css?family=Dosis:200,400,500,600);
html{font-family: Helvetica;
display:inline-block;
margin: 0px auto; text-align: center;}
h1{color: #0F3376;
padding: 2vh;}p{font-size: 1.5rem;
}
.button{display: inline-block;
background-color: #e7bd3b;
border: none;
border-radius: 4px;
color: white;
padding: 16px 40px;
text-decoration: none;
font-size: 10px;
margin: 2px;
cursor: pointer;
}
.button2{display: inline-block;
background-color: #4286f4;
border: none;
border-radius: 4px;
color: white;
padding: 16px 40px;
text-decoration: none;
font-size: 30px;
margin: 2px;
cursor: pointer;
}

.in_frame {
width: 25rem;
height: 2.6rem;
background-color: rgb(247, 175, 41);
}
* {
  box-sizing: border-box;
}
.column {
  float: left;
  width: 33.33%;
  padding: 0.7rem;
  height: 37rem; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.gauge {
  margin-left: 2rem;
  margin-top: 0rem;
  --size: 13rem;
  --cutout: 50%;
  --color: red;
  --background: white;
  width:var(--size);
  height:var(--size);
  border-radius:calc(var(--size) / 2);
  background:
    conic-gradient(from -135deg,
      transparent 270deg,
      white 270deg),
    radial-gradient(
      var(--background) 0 var(--cutout),
      #0002 calc(var(--cutout)),
      #0000 calc(var(--cutout) + 15px),
      #0002 calc(var(--cutout) + 30px),
      #0000 calc(var(--cutout) + 30px) 100%),
    conic-gradient(from -135deg,
      var(--color) calc(270deg*var(--value)),
      grey calc(270deg*var(--value)) 270deg,
      transparent 270deg);
  text-align: center;
  line-height: var(--size);
}
table {
  margin: 0.1rem;
}

.compass {
  margin-left: 3rem;
  display: block;
  width: 27rem;
  height: 27rem;
  border-radius: 100%;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .85);
  position: relative;
  font-family: 'Dosis';
  color: #555;
  text-shadow: 0.1rem 0.1rem 0.1rem white;
  &:before {
    font-weight: bold;
    position: absolute;
    text-align: left;
    width: 100%;
    content: "N";
    font-size: 3.5rem;
    top: -4.5rem;
    left:13rem;
  }
  .direction {
    height: 100%;
    width: 100%;
    display: block;
    background: #f2f6f5;
    background: -moz-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #f2f6f5), color-stop(100%, #cbd5d6));
    background: -webkit-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
    background: -o-linear-gradient(top, #f2f6f5 0%, #cbd5d6 100%);
    border-radius: 100%;
    p {
      text-align: center;
      margin: 0;
      padding: 0;
      position: absolute;
      top: 40%;
      left: 0;
      width: 100%;
      height: 100%;
      line-height: 5rem;
      display: block;
      margin-top: -5rem;
      font-size: 1.5rem;
      font-weight: bold;
      span {
        display: block;
        line-height: normal;
        margin-top: -0.1rem;
        font-size: 1rem;
        text-transform: uppercase;
        font-weight: normal;
      }
    }
  }
  .arrow {
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    &:after {
      content: "";
      width: 0;
      height: 0;
      border-left: 1.2rem solid transparent;
      border-right: 1.2rem solid transparent;
      border-bottom: 2rem solid red;
      position: absolute;
      top: -0.5rem;
      left: 50%;
      margin-left: -0.5rem;
      z-index: 99;
    }
    &.nne { transform: rotate(22.5deg); }
    &.ne { transform: rotate(45deg); }
    &.ene { transform: rotate(67.5deg); }
    &.e { transform: rotate(90deg); }
    &.ese { transform: rotate(112.5deg); }
    &.se { transform: rotate(135deg); }
    &.sse { transform: rotate(157.5deg); }
    &.s { transform: rotate(180deg); }
    &.ssw { transform: rotate(202.5deg); }
    &.sw { transform: rotate(-135deg); }
    &.wsw { transform: rotate(-114.5deg); }
    &.w { transform: rotate(-90deg); }
    &.wnw { transform: rotate(-69.5deg); }
    &.nw { transform: rotate(-45deg); }
    &.nnw { transform: rotate(-24.5deg);}
  }
}
/*for meter track*/
meter,
meter::-webkit-meter-bar {
    /*to remove the default background property */
    background: none; 
    width: 30rem;
    height: 3rem;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgb(226, 226, 226);
    box-shadow: 0 0.5rem 0.7rem -0.7rem rgba(0,0,0,0.3) inset;
    margin-top: -2.5rem;
}
 
/*for meter bar*/
meter::-webkit-meter-optimum-value {
    background: none; 
    background-color: rgb(154, 255, 77);
}
:-moz-meter-optimum::-moz-meter-bar {
    background: none; 
    background-color: rgb(154, 255, 77);
}
 
 
meter::-webkit-meter-suboptimum-value{
    background: none; 
    background-color: rgb(150, 0, 0);
}
:-moz-meter-sub-optimum::-moz-meter-bar{
    background: none; 
    background-color: rgb(0, 0, 222);
}
 
 
meter::-webkit-meter-even-less-good-value{
    background: none; 
    background-color: rgb(0, 36, 62);
}
:-moz-meter-sub-sub-optimum::-moz-meter-bar{
    background: none;
    background-color: rgb(0, 36, 62);
}
#wx_image {
  margin-top: -2.5rem;
}
